<% include partials/header.ejs %>
<% include partials/menu.ejs %>


<!-- Cart view section -->
<section id="cart-view">
    <% if(locals.orders) { %>
    <!-- <div class="row"> -->
    <div class="col-md-12">
        <div class="cart-view-area">
            <div class="cart-view-table">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order By</th>
                                <th>Order Placed</th>
                                <th>Delivery Date</th>
                                <th>Status</th>
                                <th>Order Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(function(data){ %>
                            <tr>
                                <td><%= data.order_by %></td>
                                <td><%= data.order_pdate %></td>
                                <td><%= data.delivery_date %></td>
                                <% if(data.order_status == 'notapproval'){ %>
                                <td><strong style="color: red">Not Approved</strong></td>
                                <%}else{%>
                                <td><strong style="color: green"> Order is in progress. . .</strong></td>
                                <%}%>
                                <td><%= data.order_id %></td>
                            </tr>
                            <% })%>
                        </tbody>
                    </table>
                    <div class="main">
                        <ul class="cards">
                            <% for(var i=0; i < locals.orders.length; i++) { %>
                            <li class="card_item">
                                <div class="card">
                                    <div class="card_image"><img width="100" height="auto"
                                            src="/uploads/cakeimage-1570622387922.jpg" alt="cake img">
                                        <span id="itemname"><%= locals.orders[i].cake_name %></span>
                                    </div>
                                    <div class="card_content">
                                        <h2 class="card_title">
                                            <span>Price:
                                            </span>Rs. <%= locals.orders[i].cake_price %></h2>
                                        <h2 class="card_title"><span>Quantity:</span><%= locals.orders[i].order_qty %>
                                        </h2>
                                        <h2 class="card_title"> Total:
                                            Rs-<strong><%= locals.orders[i].order_total %> </strong></h2>
                                    </div>
                                </div>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                </div>
            </div>
            <% }else{ %>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h1>You haven't placed any order!!! <img width="200" height="auto"
                                                src="/dashboard/img/cartempty1.png"></h1>
                                        <hr>
                                        <h4> To view order Please | Login or Create new account</h4>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                    </div>
                </div>
                <!-- </div> -->
</section>
<!-- / Cart view section -->

<% include partials/footer.ejs %>