<% include partials/header.ejs %>
<% include partials/menu.ejs %>

<link href="/dashboard/css/trackorder.css" rel="stylesheet">
<!-- Cart view section -->
<section id="cart-view">
    <% if(locals.orders) { %>
    <!-- <div class="row"> -->
    <div class="col-md-12">
        <div class="cart-view-area">
            <div class="cart-view-table">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Order By</th>
                                <th>Order Placed</th>
                                <th>Delivery Date</th>
                                <th>Status</th>
                                <th>Order Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% orders.forEach(function(data){ %>
                            <% status = data.order_status; %>
                            <tr>
                                <td><%= data.order_by %></td>
                                <td><%= data.order_pdate %></td>
                                <td><%= data.delivery_date %></td>
                                <% if(data.order_status === 'notapproval'){ %>
                                <td><strong style="color: red">Not Approved</strong></td>
                                <%}else if(data.order_status === 'complete'){%>
                                <td><strong style="color: green"> Cake is ready to dispatch.</strong></td>
                                <%}else if(data.order_status === 'delivered'){%>
                                <td><strong style="color: green">Delivered | Cake will be arrived with in
                                        30min.</strong></td>
                                <%}else{%>
                                <td><strong style="color: #424040"> Order is in progress. . .</strong></td>
                                <%}%>
                                <td><%= data.order_id %></td>
                            </tr>
                            <% })%>
                        </tbody>
                    </table>
                    <div class="main">
                        <ul class="cards">
                            <% for(var i=0; i < locals.orders.length; i++) { %>
                            <li class="card_item">
                                <div class="card">
                                    <div class="card_image"><img width="100" height="auto"
                                            src="/uploads/cakeimage-1570622387922.jpg" alt="cake img">
                                        <span id="itemname"><%= locals.orders[i].cake_name %></span>
                                    </div>
                                    <div class="card_content">
                                        <h2 class="card_title">
                                            <span>Price:
                                            </span>Rs. <%= locals.orders[i].cake_price %></h2>
                                        <h2 class="card_title"><span>Quantity:</span><%= locals.orders[i].order_qty %>
                                        </h2>
                                        <h2 class="card_title"> Total:
                                            Rs-<strong><%= locals.orders[i].order_total %> </strong></h2>
                                    </div>
                                </div>
                            </li>
                            <%}%>
                        </ul>
                    </div>
                </div>

                <!-- --- Tracking order detail -->
               <section id="aa-track">
                    <div class="row shop-tracking-status">
    
                      <div class="col-md-12">
                                <div class="well">
                                    <div class="form-vertical">
                                        <div class="form-group">
                                                <div class="col-sm-4">
                                                <input type="text" class="form-control" id="orderTrackingId" value="" placeholder="# put your order id here">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <!-- <div class="col-sm-offset-2 col-sm-10"> -->
                                                <button type="button" id="shopGetOrderStatusID" class="btn btn-success">Track Your Order</button>
                                            <!-- </div> -->
                                        </div>
                                    </div> 
    
                                        <div class="order-status">        
                                                <div class="order-status-timeline">
                                                    <!-- class names: c0 c1 c2 c3 and c4 -->
                                                    <div id="timeline" ></div>
                                                    <!-- //code added from ajax -->
                                                </div>                                
                                                <div class="image-order-status image-order-status-new active img-circle">
                                                    <span class="status">Accepted</span>
                                                    <div class="icon"></div>
                                                </div>
                                                <div class="image-order-status image-order-status-active active img-circle">
                                                    <span class="status">In progress</span>
                                                    <div class="icon"></div>
                                                </div>
                                                <div class="image-order-status image-order-status-intransit active img-circle">
                                                    <span class="status">Shipped</span>
                                                    <div class="icon"></div>
                                                </div>
                                                <div class="image-order-status image-order-status-delivered active img-circle">
                                                    <span class="status">Delivered</span>
                                                    <div class="icon"></div>
                                                </div>
                                                <div class="image-order-status image-order-status-completed active img-circle">
                                                    <span class="status">Completed</span>
                                                    <div class="icon"></div>
                                                </div>
                                
                                            </div>
                                        </div>
                                    </div>
                                
                </div>
               </section>
                 <!-- --- Tracking order detail -->
            </div>
            <% }else{ %>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h1>You haven't placed any order!!! <img width="200" height="auto"
                                                src="/dashboard/img/cartempty1.png"></h1>
                                        <hr>
                                        <h4> To view order Please | Login or Create new account</h4>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                    </div>
                </div>
                <!-- </div> -->
</section>
<!-- / Cart view section -->

<% include partials/footer.ejs %>